.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  width: 19.75rem;
  height: 23rem;
  max-width: 90%;
  border-radius: 6px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3);
  outline-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
